[package]
name = "casbin"
version = "0.3.0"
authors = ["Joey <joey.xf@gmail.com>", "Cheng JIANG <jiang.cheng@vip.163.com>"]
edition = "2018"
license = "Apache-2.0"
description = "An authorization library that supports access control models like ACL, RBAC, ABAC."
homepage = "https://casbin.org/"
repository = "https://github.com/casbin/casbin-rs"
readme = "README.md"
keywords = ["auth", "authorization", "rbac", "acl", "abac"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
regex = "1.3.1"
rhai = "0.9.1"
ip_network = "0.3.4"
ttl_cache = "0.5.1"
emitbrown = "0.1.8"
lazy_static = "1.4.0"
indexmap = "1.3.1"
async-std = { version = "1.5.0", optional = true }
async-trait = "0.1.24"
log = "0.4.8"
tokio = { version = "0.2.11", optional = true, default-features = false }

[features]
default = ["runtime-tokio"]

runtime-tokio = ["tokio/fs", "tokio/io-util", "tokio/stream", "tokio/rt-threaded", "tokio/blocking"]
runtime-async-std = ["async-std"]

[profile.release.build-override]
opt-level = 0

[dev-dependencies]
async-std = { version = "1.5.0", features = [ "attributes" ] }
tokio = { version = "0.2.11", features = [ "full" ] }
cfg-if = "0.1.10"
